.moon {
  width: 6px; /* Adjust size if needed */
  height: 6px; /* Make sure height and width are equal for round moons */
  background-color: #ccc; /* Moon color */
  border-radius: 50%; /* Makes moons round */
  position: absolute;
}
